.note-container {
    padding: 16px 24px;
    margin: 32px 0 24px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    position: relative;
}

.note-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.note-header p {
    margin: 0;
    padding: 0;
}

.note-title {
    color: #333;
    font-weight: bolder;
}

.note-content {
    color: #555;
    text-align: justify;
}

.note-date {
    color: #999;
    font-size: small;
}

.note-footer {
    text-align: end;
}

.delete-button {
    background-color: #e74c3c;
    /* Red */
    color: white;
    border: none;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.delete-button:hover {
    background-color: #c0392b;
    /* Darker red */
}